* {
  font-family: 'Merriweather Sans', sans-serif;
  color: #091e42;
}
body {
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
  color: #091e42;
  background-color: #fff;
  position: relative;
}
h1 {
  font-size: 2.79rem !important;
}
h1,
h2 {
  font-weight: 700 !important;
}
h3 {
  font-weight: 600 !important;
}
h5 {
  font-size: 16px !important;
}
p {
  font-size: 20px;
}
.p-6 {
  padding: 0px 30px 0px 100px !important;
}
.pt-7 {
  padding-top: 112px !important;
}
.pt-md-6 {
  padding-top: 80px;
}
.pb-6 {
  padding-bottom: 10rem !important;
}
.pe-6 {
  padding-right: 150px !important;
}
.btn {
  font-size: 18px !important;
  /* box-sizing: content-box; */
}
/* Header Section */
#header a {
  text-decoration: none;
}
#header .logo {
  position: fixed;
  float: left;
  width: 10%;
  padding: 15px;
}
#header nav {
  position: fixed;
  width: 100%;
}
#header nav ul {
  list-style: none;
  background: rgb(0, 0, 0, 0);
  overflow: hidden;
  color: #1d75ff;
  padding: 10px;
  text-align: center;
  margin: 0;
  transition: 1s;
}
#header nav.black ul {
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  padding: 10px;
  transition: 2s;
}
#header nav ul li {
  padding: 5px;
  float: right;
}
#header nav ul li a {
  text-decoration: none;
  color: #1d75ff;
  font-size: 18px;
}
#header nav ul li .btn {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
#header nav ul li .log {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  color: #1d75ff;
  font-size: 18px;
  border: white;
}
#header nav ul li .sign:hover {
  text-decoration: none;
  background-color: #1a5bc4;
  font-size: 18px;
}
@media only screen and (max-width: 1024px) {
  #header .logo {
    width: 15%;
  }
}
@media only screen and (max-width: 768px) {
  #header .logo {
    width: 22%;
  }
}
@media only screen and (max-width: 426px) {
  #header .logo {
    width: 40%;
  }
}
@media only screen and (max-width: 376px) {
  #header .logo {
    width: 50%;
    padding-right: 30px;
  }
  #header nav ul li .log {
    padding-right: 5px;
    font-size: 16px;
  }
  #header nav ul li .sign {
    font-size: 16px;
  }
}
@media only screen and (max-width: 320px) {
  #header .logo {
    width: 50%;
    padding-top: 20px;
  }
}
/* End Header Section */
/* ================================= */
/* Hero Section */
#hero {
  background-image: linear-gradient(to bottom, #eae6ff, #ffffff);
}
#hero .size-img-hero {
  width: 100% !important;
  height: auto;
  padding: 50px 0px 50px 100px;
}
#hero p {
  text-align: left;
  padding-right: 25px !important;
}
#hero .form-control {
  font-size: 20px;
  color: #7b828f;
}
@media only screen and (max-width: 769px) {
  #hero .col-lg-4 img {
    display: none;
    visibility: hidden;
  }
}
@media only screen and (max-width: 426px) {
  #hero .col-sm-10 h1 {
    text-align: center;
    font-size: 32px !important;
    line-height: 40px;
  }
  #hero .col-sm-10 p {
    padding: 10px;
    text-align: center;
    font-size: 20px !important;
    line-height: 30px;
  }
  #hero form .col-md-7 {
    display: none;
    visibility: hidden;
  }
}
/* End Hero Section */
/* ================================= */
/* Products Section */
@media only screen and (max-width: 769px) {
  #products h2 {
    font-size: 2rem;
    line-height: 1.3;
  }
}
@media only screen and (max-width: 426px) {
  #products h2 {
    font-size: 1.5rem;
    line-height: 1.33333333;
  }
  #products p {
    padding: 10px;
  }
}
/* End Products Section */
/* ================================= */
/* Features Section */
#features .features-left {
  text-align: left;
}
#features .py-5 .col-lg-6 p {
  color: #7a869a;
}
#features h3 a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 24px;
  line-height: 32px;
}
#features .col-lg-6 .a p,
#features .col-lg-6 .a ul li {
  color: inherit;
  font-size: 18px;
  line-height: 27px;
}
#features .col-lg-6 h3 a:hover {
  text-decoration: underline;
}
#features .col-lg-6 h3 a::before {
  content: '+';
}
#features .col-lg-6 a[aria-expanded='true']::before {
  content: '-';
  padding-right: 6px;
}

@media only screen and (max-width: 426px) {
  #features h2 {
    font-size: 1.5rem;
    line-height: 1.33333333;
  }
}

/* End Features Section */
/* ================================= */
/* Check-out Section*/
#check-out .border-check-out {
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  width: 40%;
}
@media only screen and (max-width: 769px) {
  #check-out .col-lg-3 {
    display: none;
    visibility: hidden;
  }
  #check-out .border-check-out {
    width: 50%;
  }
}
@media only screen and (max-width: 426px) {
  #check-out .border-check-out {
    width: 100%;
  }
  #check-out .border-check-out {
    border-bottom: 0px rgb(0, 0, 0) solid;
    border-top: 0px rgb(0, 0, 0) solid;
  }
  #check-out .border-check-out2 {
    border-bottom: 1px rgb(0, 0, 0) solid;
    border-top: 1px rgb(0, 0, 0) solid;
  }
}
/* End Check-out Section */
/* ================================= */
/* Sign-up Section*/
#sign-up .pad-sign-up {
  padding: 80px 16px;
}
#sign-up .bg-sign-up {
  background-color: #4353b5;
  background-image: linear-gradient(to bottom, #4353b5, #568ae7);
  width: 80%;
  margin: auto;
  padding: 80px 16px;
  border-radius: 10px;
}
#sign-up h3 {
  color: white;
}
#sign-up .btn-primary2 {
  background-color: #00b8d9;
  color: white;
  width: 100%;
}
#sign-up .btn-primary2:hover {
  background-color: #0e7688;
}
@media only screen and (max-width: 769px) {
  #sign-up .bg-sign-up {
    width: 100%;
    margin: auto;
    padding: 48px 16px;
  }
}
@media only screen and (max-width: 426px) {
  #sign-up .btn-primary2 {
    background-color: #00b8d9;
    color: white;
    width: 90%;
  }
}
/* End Sign-up Section */
/* ================================= */
/* Apps Section */
#apps .bg-apps {
  background-color: #fafbfc;
  width: 100%;
}
#apps .size-sec {
  width: 70%;
  margin: auto;
}
#apps p {
  text-align: end;
}
@media only screen and (max-width: 769px) {
  #apps p {
    text-align: center;
  }
}
@media only screen and (max-width: 426px) {
  #apps .size-sec {
    width: 100%;
    margin: auto;
  }
}
/* End Apps Section */
/* ================================= */
/* Footer Section */
.global-footer {
  text-align: center;
  margin: 64px 16px;
}
.global-footer-list li {
  display: inline;
  margin: auto;
  padding: 5px;
  color: #8993a4 !important;
  text-decoration: underline !important;
}
.global-footer-list li a {
  color: #8993a4 !important;
  text-decoration: underline !important;
}
.global-footer-detail img {
  display: block;
  padding-bottom: 17px;
  margin: auto;
}
.global-footer-list {
  padding: 10px 10px !important;
  color: #8993a4 !important;
}

#language-picker {
  color: #8993a4;
  border-color: #8993a4;
  padding: 10px;
}
.mb-3-5 {
  padding-bottom: 20px;
}
@media only screen and (max-width: 426px) {
  .global-footer-list {
    padding: 10px 50px !important;
  }
}
@media only screen and (max-width: 320px) {
  .global-footer-list {
    padding: 10px 10px !important;
  }
}
/* End Footer Section */
/* ================================= */
